<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
  	<!-- Change the value below to the URL of your TFS project collection -->
    <add key="TFS_URL" value ="https://yourtfs.com/tfs/" />
  </appSettings>
</configuration>